# ESLINT IGNORE
# https://eslint.org/docs/user-guide/configuring#ignoring-files-and-directories

# DIRECTORIES & FILES
.yarn/*
CHANGELOG.md
cjs/*
coverage/*
dist/*
esm/*
node_modules/*
types/*

# NEGATED PATTERNS
!**/.*.*
!src/types/*
