# ESLINT IGNORE
# https://eslint.org/docs/user-guide/configuring#ignoring-files-and-directories

# DIRECTORIES
.yarn/*
build/*
cjs/*
esm/*
node_modules/*
types/*

# FILES
CHANGELOG.md

# NEGATED PATTERNS
!src/types/*
!**/.*.*
