{
  "all": false,
  "cache": false,
  "exclude": [
    "**/*.enum.ts",
    "**/*.interface.ts",
    "**/*.type.ts",
    "**/*.types.ts",
    "**/__doubles__/**",
    "**/__tests__/**",
    "**/index.ts"
  ],
  "excludeNodeModules": true,
  "extension": [".ts"],
  "include": ["src"],
  "report-dir": "./coverage",
  "reporter": ["json-summary", "lcov", "text"],
  "skip-full": false,
  "temp-dir": "./coverage/.nyc"
}
